<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Профіль автора</title>
</head>
<body>
<h1>Профіль Автора</h1>

<div th:if="${param.error}" style="color: red;">
    <p th:text="${param.error}"></p>
</div>

<div th:if="${param.message}" style="color: green;">
    <p th:text="${param.message}"></p>
</div>
<img th:src="${profile.avatarURL} + '?t=' + ${#dates.format(#dates.createNow(), 'yyyyMMddHHmmss')}" alt="Avatar" style="max-width: 200px; max-height: 200px;">
<p>Ім'я: <span th:text="${profile.user.name}"/></p>
<p>Опис: <span th:text="${profile.description}"/></p>
<p>Рейтинг: <span th:text="${profile.rating}"/></p>
<p>Підписників: <span th:text="${profile.subscribersCount}"></span></p>
<h3>Соціальні мережі:</h3>
<ul>
    <li th:if="${profile.tiktok != null and !profile.tiktok.isEmpty()}">
        <a th:href="${profile.tiktok}" target="_blank">TikTok</a>
    </li>
    <li th:if="${profile.instagram != null and !profile.instagram.isEmpty()}">
        <a th:href="${profile.instagram}" target="_blank">Instagram</a>
    </li>
    <li th:if="${profile.twitch != null and !profile.twitch.isEmpty()}">
        <a th:href="${profile.twitch}" target="_blank">Twitch</a>
    </li>
    <li th:if="${profile.youtube != null and !profile.youtube.isEmpty()}">
        <a th:href="${profile.youtube}" target="_blank">YouTube</a>
    </li>
</ul>

<a th:href="@{/creator/{id}/reviews(id=${profile.id})}">Переглянути всі рецензії на автора</a>

<div th:if="${user != null}">
<div th:if="${user.role.name() == 'USER'}">
    <div th:if="${isSubscribed}">
        <a th:href="@{/creator/{id}/unsubscribe(id=${profile.id})}">Відписатися</a>
    </div>
    <div th:if="${!isSubscribed}">
        <a th:href="@{/creator/{id}/subscribe(id=${profile.id})}">Підписатися</a>
    </div>
</div>
<div th:if="${user.role.name() == 'USER'}">
    <div th:if="${!hasReported}">
        <form th:action="@{/creator/{userId}/report(userId=${profile.user.id})}" method="post">
            <textarea name="reason" placeholder="Причина скарги" required></textarea>
            <button type="submit">Поскаржитися</button>
        </form>
    </div>
    <div th:if="${hasReported}">
        <p>Ви вже подали скаргу на цього креатора.</p>
    </div>
</div>
<div th:if="${userReview != null and user.role.name() == 'USER'}">
    <form th:action="@{/creator/{creatorId}/review/delete(creatorId=${profile.id})}" method="post">
        <input type="hidden" name="reviewId" th:value="${userReview.id}">
        <p> Видалити ви можете ваш відгук зі статусом "NOT APPROVED". Статус вашого:
            <span th:text="${userReview.status}"/></p>
        <button type="submit">Видалити</button>
    </form>
</div>
<div th:if="${userReview == null and user.role.name() == 'USER' }">
    <p>Відгук відсутній, створіть новий</p>
    <div th:if="${user.role.name() == 'USER'}">
        <form th:action="@{/creator/{creatorId}/review(creatorId=${profile.id})}" method="post">
            <textarea name="text" placeholder="Ваш відгук" required></textarea>
            <br>
            <label for="rating">Оцініть (1-5):</label>
            <input type="number" id="rating" name="rating" min="1" max="5" required>
            <br>
            <button type="submit">Додати відгук</button>
        </form>
    </div>
</div>
</div>
<a href="/">Повернутися на головну</a>
</body>
</html>