<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Головна сторінка</title>
</head>
<body>

<h1>Ласкаво просимо на головну сторінку!</h1>


<div th:if="${user != null}">
    <p>Ви увійшли як: <span th:text="${user.name}"></span></p>
    <a href="/profile">Перейти в профіль</a>
    <a href="/auth/logout">Вийти</a>
    <div th:if="${user.role.name() == 'CREATOR'}">
        <a href="/posts">Перейти до своїх постів</a>
    </div>
    <div th:if="${user.role.name() == 'USER'}">
        <a href="/posts">Перейти до лєнти постів</a>
    </div>
    <div th:if="${user.role.name() == 'CREATOR'}">
        <a href="/posts/add">Створити пост</a>
    </div>
</div>

<div th:if="${user == null}">
    <p>Ви не авторизовані.</p>
    <a href="/auth/login">Увійти</a>
    <a href="/auth/register">Зареєструватися</a>
</div>
<form action="/filter" method="get">
    <label for="name">Ім'я автора:</label>
    <input type="text" id="name" name="name" th:value="${name}">

    <label>Теги:</label>
    <div th:each="tag : ${tags}">
        <input type="checkbox" th:id="'tag-' + ${tag.name}" th:name="tags" th:value="${tag.name}"
               th:checked="${selectedTags != null and selectedTags.contains(tag.name)}">
        <label th:for="'tag-' + ${tag.name}" th:text="${tag.name}"></label>
    </div>

    <label for="minRating">Мін. рейтинг:</label>
    <input type="number" id="minRating" name="minRating" min="1" max="5" th:value="${minRating}">

    <label for="maxRating">Макс. рейтинг:</label>
    <input type="number" id="maxRating" name="maxRating" min="1" max="5" th:value="${maxRating}">

    <label for="minSubs">Мін. підписників:</label>
    <input type="number" id="minSubs" name="minSubscribers" th:value="${minSubscribers}">

    <label for="maxSubs">Макс. підписників:</label>
    <input type="number" id="maxSubs" name="maxSubscribers" th:value="${maxSubscribers}">

    <button type="submit">Фільтрувати</button>
</form>
<div th:if="${user != null and user.role.name() == 'USER' and recommendedCreators != null and not recommendedCreators.isEmpty()}">
    <h2>Рекомендовані автори на основі ваших підписок:</h2>
    <ul>
        <li th:each="creator : ${recommendedCreators}">
            <p>
                <img th:src="${creator.avatarURL} + '?t=' + ${#dates.format(#dates.createNow(), 'yyyyMMddHHmmss')}"
                     alt="Аватар креатора" style="width: 50px; height: 50px; border-radius: 50%;">
                <strong th:text="${creator.user.name}"></strong><br/>
                <span th:text="'Рейтинг: ' + ${creator.rating}"></span><br/>
                <span th:text="${creator.description}"></span><br/>
            <p>Підписників: <span th:text="${creator.subscribersCount}"></span></p>
            <a th:href="@{/creator/{id}(id=${creator.id})}">Перейти у профіль автора</a>
            <br/>
            <span>Теги:
                    <span th:each="phs : ${creator.phs}">
                        <span th:text="${phs.tags.name} + ' '"></span>
                    </span>
                </span><br/>
            </p>
        </li>
    </ul>
</div>
<h2>Список підтверджених авторів:</h2>
<div th:if="${creators != null}">
    <ul>
        <li th:each="creator : ${creators}">
            <p>
                <img th:src="${creator.avatarURL} + '?t=' + ${#dates.format(#dates.createNow(), 'yyyyMMddHHmmss')}" alt="Аватар креатора" style="width: 50px; height: 50px; border-radius: 50%;">
                <strong th:text="${creator.user.name}"></strong><br/>
                <span th:text="'Рейтинг: ' + ${creator.rating}"></span><br/>
                <span th:text="${creator.description}"></span><br/>
               <p>Підписників: <span th:text="${creator.subscribersCount}"></span></p>
                <a th:href="@{/creator/{id}(id=${creator.id})}">Перейти у профіль автора</a>
                <br/>
                <span>Теги:
                    <span th:each="phs : ${creator.phs}">
                        <span th:text="${phs.tags.name} + ' '"></span>
                         </span>
                </span><br/>
            </p>
        </li>
    </ul>
</div>
<div th:if="${creators == null || creators.isEmpty()}">
    <p>Немає доступних авторів.</p>
</div>
</body>
</html>