<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Профіль</title>
</head>
<body>
<h1>Профіль користувача</h1>

<div th:if="${error}" style="color: red;">
    <p th:text="${error}"></p>
</div>

<div th:if="${message}" style="color: green;">
    <p th:text="${message}"></p>
</div>

<p>Логін: <span th:text="${user.login}"></span></p>
<p>Ім'я: <span th:text="${user.name}"></span></p>
<p>Email: <span th:text="${user.email}"></span></p>
<p>Роль у системі: <span th:text="${user.role}"></span></p>
<div th:if="${user.role.name() == 'CREATOR'}">
    <h2>Профіль контент-креатора</h2>
    <img th:src="${user.profile.avatarURL} + '?t=' + ${#dates.format(#dates.createNow(), 'yyyyMMddHHmmss')}" alt="Avatar" style="max-width: 200px; max-height: 200px;">
    <p>Опис: <span th:text="${user.profile.description}"></span></p>
    <p>TikTok: <span th:text="${user.profile.tiktok} ?: 'Не вказано'"></span></p>
    <p>Instagram: <span th:text="${user.profile.instagram} ?: 'Не вказано'"></span></p>
    <p>Twitch: <span th:text="${user.profile.twitch} ?: 'Не вказано'"></span></p>
    <p>YouTube: <span th:text="${user.profile.youtube} ?: 'Не вказано'"></span></p>
    <p>Subscribers: <span th:text="${user.profile.subscribersCount} ?: 'Не вказано'"></span></p>
    <p>Rating: <span th:text="${user.profile.rating} ?: 'Не вказано'"></span></p>
</div>
<form action="/profile/update" method="post" enctype="multipart/form-data">
    <input type="text" name="email" placeholder="Новий Email">
    <input type="text" name="login" placeholder="Новий логін">
    <input type="password" name="password" placeholder="Новий пароль">
    <input type="text" name="name" placeholder="Нове ім'я">
    <div th:if="${user.role.name() == 'CREATOR'}">
        <textarea name="description" placeholder="Опис"></textarea>
        <input type="text" name="tiktok" placeholder="TikTok">
        <input type="text" name="instagram" placeholder="Instagram">
        <input type="text" name="twitch" placeholder="Twitch">
        <input type="text" name="youtube" placeholder="YouTube">
        <label>Аватар:</label>
        <input type="file" id="avatar" name="avatar" accept="image/*">
    </div>
    <button type="submit">Оновити</button>
</form>

<a href="/">Головна сторінка</a>
</body>
</html>